{% load static %}

<!-- Documento base HTML para todas las páginas del sitio -->

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta
      name="description"
      content="Horarios, mapas, tarifas y más información sobre las rutas de autobús de San Ignacio de Acosta y San Gabriel de Aserrí." />

    <!-- Título de la pestaña del navegador -->

    <title>{% block page_title %}{% endblock %} - TSG</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'svg/logos/TSG-favicon.png' %}" />

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />

    <!-- CSS Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous" />

    <!-- CSS Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

    <!-- Custom CSS general -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/colores_rutas.css' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NB0MQM5B40"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NB0MQM5B40");
    </script>

    {% block custom_header %}
    <!-- Aquí el source del CSS específico de cada página -->
    {% endblock %}
  </head>

  <body>
    <!-- ENCABEZADO -->

    <!-- ========== Navbar ========== -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'svg/logos/TSG.png' %}" alt="Logo" height="30" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/rutas/acosta">
                <i class="bi bi-bus-front-fill color-sanluis"></i>
                <strong>Acosta</strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/rutas/acosta">
                <i class="bi bi-bus-front-fill color-turrujal"></i>
                <strong>Turrujal</strong>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/rutas/sangabriel">
                <i class="bi bi-bus-front-fill color-sangabriel"></i>
                <strong>San Gabriel</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- ========== End navbar ========== -->

    <!-- CONTENIDO PRINCIPAL -->

    <main role="main" class="container mt-4" id="content">
      {% block content %}
      <!-- Aquí el contenido de cada página -->
      {% endblock %}
    </main>

    <!-- PIE DE PÁGINA -->

    <footer class="bg-dark">
      <div class="container">
        <div class="space-top-2 space-bottom-1 space-bottom-lg-2">
          <div class="row justify-content-lg-between">
            <div class="col-lg-3 ml-lg-auto mb-5 mb-lg-0">
              <!-- Logo -->
              <div class="mb-4">
                <a href="index.html" aria-label="Front">
                  <img class="brand" src="{% static '/svg/logos/TSG-blanco.png' %}" alt="Logo" />
                </a>
              </div>
              <!-- End Logo -->

              <!-- Nav Link -->
              <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link media"
                    href="https://ul.waze.com/ul?ll=9.92929648%2C-84.07635212&navigate=yes&zoom=17">
                    <span class="media">
                      <span class="fas fa-location-arrow mt-1 mr-2"></span>
                      <span class="media-body">
                        Salitral, San Gabriel de Aserrí &nbsp;
                        <img
                          class="dropdown-item-icon"
                          src="{% static '/vendor/flag-icon-css/flags/4x3/cr.svg' %}"
                          alt="Costa Rica" />
                      </span>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link media" href="tel:+506-2410-0330">
                    <span class="media">
                      <span class="fas fa-phone-alt mt-1 mr-2"></span>
                      <span class="media-body">2410-0330</span>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link media" href="mailto:transgabriel@ice.co.cr">
                    <span class="media">
                      <span class="fas fa-envelope mt-1 mr-2"></span>
                      <span class="media-body">transgabriel@ice.co.cr</span>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link media" href="mailto:transgabriel@ice.co.cr">
                    <span class="media">
                      <span class="fas fa-clock mt-1 mr-2"></span>
                      <span class="media-body">Lunes a viernes: 8:00 am - 5:00 pm</span>
                    </span>
                  </a>
                </li>
              </ul>
              <!-- End Nav Link -->
            </div>

            <div class="col">
              <h5 class="text-white">Menú</h5>

              <!-- Nav Link -->
              <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/rutas/">Rutas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/empresa/">Empresa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contacto/">Contacto</a>
                </li>
              </ul>
              <!-- End Nav Link -->
            </div>

            <div class="col">
              <h5 class="text-white">Links de interés</h5>

              <!-- Nav Link -->
              <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="https://www.ctp.go.cr/">Consejo de Transporte Público</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://www.mopt.go.cr/">Ministerio de Obras Públicas y Transportes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://aresep.go.cr/autobus">
                    Autoridad Reguladora de los Servicios Públicos
                  </a>
                </li>
              </ul>
              <!-- End Nav Link -->
            </div>
          </div>
        </div>

        <hr class="opacity-xs my-0" />

        <div class="space-1">
          <div class="row align-items-md-center mb-7">
            <div class="col-md-6 mb-4 mb-md-0">
              <!-- Nav Link -->
              <ul class="nav nav-sm nav-white nav-x-sm align-items-center">
                <!--<li class="nav-item">
                  <a class="nav-link" href="/empresa">Acerca de Transportes San Gabriel</a>
                </li>
                <li class="nav-item opacity mx-3">&#47;</li>-->
                <li class="nav-item">
                  <a class="nav-link" href="/acerca">
                    <i class="fas fa-code"></i>
                    &nbsp; Acerca de este sitio web
                  </a>
                </li>
              </ul>
              <!-- End Nav Link -->
            </div>

            <!--
            <div class="col-md-6 text-md-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a class="btn btn-xs btn-icon btn-soft-light" href="#">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-xs btn-icon btn-soft-light" href="https://github.com/fabianabarca/buses">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
              </ul>
            </div>-->
          </div>

          <!-- Copyright -->
          <div class="w-md-75 text-lg-center mx-lg-auto">
            <p class="text-white opacity-sm">
              Esta página utiliza
              <a class="font-weight-bold text-white" href="/gtfs/">GTFS</a>
              , un estándar de datos abiertos para el transporte público.
            </p>
            <p class="text-white opacity-sm small">&copy; Transportes San Gabriel, 2022.</p>
          </div>
          <!-- End Copyright -->
        </div>
      </div>
    </footer>
    <!-- FINAL DE PIE DE PÁGINA -->

    <!-- Bibliote de JS para operaciones de tipo time, sustituto del arcáico Date -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    {% block custom_footer %}
    <!-- Aquí el source del JS específico de cada página -->
    {% endblock %}

    <!-- JS Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"></script>
  </body>
</html>
